@model Slider

@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <img src="~/img/@Model.Image" alt="Slider Image" width="800" />
</div>
<div class="row">
    <a asp-action="Index" class="btn btn-dark">Go to back</a>
</div>

